<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>LogFilterDemo</filter-name>
        <filter-class>com.rex.filter.LogFilterDemo</filter-class>
        <init-param>
            <param-name>Site</param-name>
            <param-value>Log filter Demo</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>LogFilterDemo</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.rex.controller.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>com.rex.controller.RootServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RootServlet</servlet-name>
        <url-pattern>/rootservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeServlet</servlet-name>
        <servlet-class>com.rex.controller.GeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GeServlet</servlet-name>
        <url-pattern>/geservlet</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/errorHandler</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorHandler</location>
    </error-page>

   <!-- <servlet>
        <servlet-name>demoFormServlet</servlet-name>
        <servlet-class>com.rex.form.DemoForm</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>demoFormServlet</servlet-name>
        <url-pattern>/demoform</url-pattern>
    </servlet-mapping>
-->
</web-app>